[Desktop Entry]
Name=Universal Android Debloater Next Generation
Exec=uad-ng
Comment=Tool for debloating Android
Type=Application
Categories=Utility
Icon=uad-ng
